@model List<ProviderForm>
@{
    ViewData["Title"] = "ProviderForm";
}
<link href="~/css/landing.css" rel="stylesheet" />
<div class="landing container mt-3 ">
    @if (Model == null)
    {
        <div> <h1> No Requests yet !!!!!!!!!  </h1>   </div>
    }
    else
    {
    <div class="row row-cols-1 row-cols-md-3 ">
    @foreach (var f in Model)
    {
        <div class="row">
        <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-header">

                        <div class="d-flex justify-content-between">
                            @f.Id
                            <a asp-controller="Admin" asp-action="Disapproved" asp-route-Id="@f.Id" > <i class="bi bi-x-lg"></i></a>
                        </div>
            </div>
            <div class="card-body">
                <p class="card-text">Fist name : @f.FirstName </p>
                <p class="card-text">Second name : @f.SecondName </p>
                <p class="card-text">Email : @f.Email </p>
                <p class="card-text">Phone number : @f.PhoneNumber </p>
                <p class="card-text">Work Experience : @f.WorkExp </p>
                <a asp-controller="UserMange" asp-action="Index" class="btn btn-primary">Approve</a>
                <a asp-controller="Admin" asp-action="Disapproved" asp-route-Id="@f.Id" class="btn btn-primary">Disapprove</a>
            </div>
        </div>
            </div>
    }
 </div>
} 
</div>
